module-2-workflow-orchestration/flows/08_gcp_taxi.yaml
id: 08_gcp_taxi
namespace: zoomcamp
description: |
  The CSV Data used in the course: https://github.com/DataTalksClub/nyc-tlc-data/releases

# -----------------------------------------------------------------------------
# BLOCK 1: USER INPUTS
# These fields create the UI dropdowns in Kestra to select the data you want.
# -----------------------------------------------------------------------------
inputs:
  - id: taxi
    type: SELECT
    displayName: Select taxi type
    values: [yellow, green]
    defaults: green

  - id: year
    type: SELECT
    displayName: Select year
    values: ["2019", "2020"]
    defaults: "2019"
    allowCustomValue: true 

  - id: month
    type: SELECT
    displayName: Select month
    values: ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"]
    defaults: "01"

# -----------------------------------------------------------------------------
# BLOCK 2: VARIABLES
# We construct dynamic strings (filenames, GCS paths, and Table names) 
# using the inputs provided above and values from the KV Store.
# -----------------------------------------------------------------------------
variables:
  file: "{{inputs.taxi}}_tripdata_{{inputs.year}}-{{inputs.month}}.csv"
  gcs_file: "gs://{{kv('GCP_BUCKET_NAME')}}/{{vars.file}}"
  table: "{{kv('GCP_DATASET')}}.{{inputs.taxi}}_tripdata_{{inputs.year}}_{{inputs.month}}"
  data: "{{outputs.extract.outputFiles[inputs.taxi ~ '_tripdata_' ~ inputs.year ~ '-' ~ inputs.month ~ '.csv']}}"

tasks:
  # -----------------------------------------------------------------------------
  # BLOCK 3: INITIAL SETUP & EXTRACTION
  # We label the execution for better tracking and download the raw .csv.gz file
  # from GitHub, then unzip it locally inside the container.
  # -----------------------------------------------------------------------------
  - id: set_label
    type: io.kestra.plugin.core.execution.Labels
    labels:
      file: "{{render(vars.file)}}"
      taxi: "{{inputs.taxi}}"

  - id: extract
    type: io.kestra.plugin.scripts.shell.Commands
    outputFiles:
      - "*.csv"
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    commands:
      - wget -qO- https://github.com/DataTalksClub/nyc-tlc-data/releases/download/{{inputs.taxi}}/{{render(vars.file)}}.gz | gunzip > {{render(vars.file)}}

  # -----------------------------------------------------------------------------
  # BLOCK 4: LOAD TO DATA LAKE (GCS)
  # We move the local CSV file to your Google Cloud Storage Bucket.
  # -----------------------------------------------------------------------------
  - id: upload_to_gcs
    type: io.kestra.plugin.gcp.gcs.Upload
    from: "{{render(vars.data)}}"
    to: "{{render(vars.gcs_file)}}"

  # -----------------------------------------------------------------------------
  # BLOCK 5: YELLOW TAXI PROCESSING
  # Logic specific to Yellow Taxis (Schema uses 'tpep' for timestamps).
  # -----------------------------------------------------------------------------
  - id: if_yellow_taxi
    type: io.kestra.plugin.core.flow.If
    condition: "{{inputs.taxi == 'yellow'}}"
    then:

      # 1. Create Main Table (Yellow Schema)
      # Meaning: Simple translation from the CSV schema to BigQuery DDL.
      - id: bq_yellow_tripdata
        type: io.kestra.plugin.gcp.bigquery.Query
        sql: |
          CREATE TABLE IF NOT EXISTS `{{kv('GCP_PROJECT_ID')}}.{{kv('GCP_DATASET')}}.yellow_tripdata`
          (
              unique_row_id BYTES,
              filename STRING,      
              VendorID STRING,
              tpep_pickup_datetime TIMESTAMP,
              tpep_dropoff_datetime TIMESTAMP,
              passenger_count INTEGER,
              trip_distance NUMERIC,
              RatecodeID STRING,
              store_and_fwd_flag STRING,
              PULocationID STRING,
              DOLocationID STRING,
              payment_type INTEGER,
              fare_amount NUMERIC,
              extra NUMERIC,
              mta_tax NUMERIC,
              tip_amount NUMERIC,
              tolls_amount NUMERIC,
              improvement_surcharge NUMERIC,
              total_amount NUMERIC,
              congestion_surcharge NUMERIC
          )
          PARTITION BY DATE(tpep_pickup_datetime); 
        # Note: Partitioning - saves cost and improves query performance.

      # 2. Create External Table (The "Window" to GCS)
      # Meaning: Define the schema of the CSV file in GCS.
      - id: bq_yellow_table_ext
        type: io.kestra.plugin.gcp.bigquery.Query
        sql: |
          CREATE OR REPLACE EXTERNAL TABLE `{{kv('GCP_PROJECT_ID')}}.{{render(vars.table)}}_ext`
          (
              VendorID STRING,
              tpep_pickup_datetime TIMESTAMP,
              tpep_dropoff_datetime TIMESTAMP,
              passenger_count INTEGER,
              trip_distance NUMERIC,
              RatecodeID STRING,
              store_and_fwd_flag STRING,
              PULocationID STRING,
              DOLocationID STRING,
              payment_type INTEGER,
              fare_amount NUMERIC,
              extra NUMERIC,
              mta_tax NUMERIC,
              tip_amount NUMERIC,
              tolls_amount NUMERIC,
              improvement_surcharge NUMERIC,
              total_amount NUMERIC,
              congestion_surcharge NUMERIC
          )
          OPTIONS (
              format = 'CSV',
              uris = ['{{render(vars.gcs_file)}}'],
              skip_leading_rows = 1,
              ignore_unknown_values = TRUE
          );

      # 3. Create Temp Table with Hashing (The "Meat Grinder")
      # We create a unique MD5 hash for each row based on key columns.
      # we hash only UNIQUE for each trip colums, "Natural Key", 
      # excluding other columns because they can vary for same trip (e.g., fare_amount)
      - id: bq_yellow_table_tmp
        type: io.kestra.plugin.gcp.bigquery.Query
        sql: |
          CREATE OR REPLACE TABLE `{{kv('GCP_PROJECT_ID')}}.{{render(vars.table)}}`
          AS
          SELECT
            MD5(CONCAT(
              COALESCE(CAST(VendorID AS STRING), ""),
              COALESCE(CAST(tpep_pickup_datetime AS STRING), ""),
              COALESCE(CAST(tpep_dropoff_datetime AS STRING), ""),
              COALESCE(CAST(PULocationID AS STRING), ""),
              COALESCE(CAST(DOLocationID AS STRING), "")
            )) AS unique_row_id,
            "{{render(vars.file)}}" AS filename,
            *
          FROM `{{kv('GCP_PROJECT_ID')}}.{{render(vars.table)}}_ext`;

      # 4. Merge Data (Deduplication)
      - id: bq_yellow_merge
        type: io.kestra.plugin.gcp.bigquery.Query
        sql: |
          MERGE INTO `{{kv('GCP_PROJECT_ID')}}.{{kv('GCP_DATASET')}}.yellow_tripdata` T
          USING `{{kv('GCP_PROJECT_ID')}}.{{render(vars.table)}}` S
          ON T.unique_row_id = S.unique_row_id
          WHEN NOT MATCHED THEN
            INSERT (unique_row_id, filename, VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge)
            VALUES (S.unique_row_id, S.filename, S.VendorID, S.tpep_pickup_datetime, S.tpep_dropoff_datetime, S.passenger_count, S.trip_distance, S.RatecodeID, S.store_and_fwd_flag, S.PULocationID, S.DOLocationID, S.payment_type, S.fare_amount, S.extra, S.mta_tax, S.tip_amount, S.tolls_amount, S.improvement_surcharge, S.total_amount, S.congestion_surcharge);
            # We list all columns to defend against schema changes. Without this,
            # adding a new column, or changing column order would break the MERGE.

  # -----------------------------------------------------------------------------
  # BLOCK 6: GREEN TAXI PROCESSING (IF CONDITION)
  # This block mirrors the Yellow Taxi logic, but uses the specific schema for 
  # Green Taxis. Notice columns like 'lpep_pickup_datetime' (instead of 'tpep')
  # and unique fields like 'ehail_fee' and 'trip_type'.
  # -----------------------------------------------------------------------------
  - id: if_green_taxi
    type: io.kestra.plugin.core.flow.If
    condition: "{{inputs.taxi == 'green'}}"
    then:
      
      # -----------------------------------------------------------------------
      # STEP 1 (Green): CREATE MAIN TABLE
      # Note the partitioning is done on 'lpep_pickup_datetime'.
      # -----------------------------------------------------------------------
      - id: bq_green_tripdata
        type: io.kestra.plugin.gcp.bigquery.Query
        sql: |
          CREATE TABLE IF NOT EXISTS `{{kv('GCP_PROJECT_ID')}}.{{kv('GCP_DATASET')}}.green_tripdata`
          (
              unique_row_id BYTES,
              filename STRING,      
              VendorID STRING,
              lpep_pickup_datetime TIMESTAMP, -- Green taxi specific timestamp
              lpep_dropoff_datetime TIMESTAMP,
              store_and_fwd_flag STRING,
              RatecodeID STRING,
              PULocationID STRING,
              DOLocationID STRING,
              passenger_count INT64,
              trip_distance NUMERIC,
              fare_amount NUMERIC,
              extra NUMERIC,
              mta_tax NUMERIC,
              tip_amount NUMERIC,
              tolls_amount NUMERIC,
              ehail_fee NUMERIC,              -- Unique to Green Taxis
              improvement_surcharge NUMERIC,
              total_amount NUMERIC,
              payment_type INTEGER,
              trip_type STRING,               -- Unique to Green Taxis (Hail vs Dispatch)
              congestion_surcharge NUMERIC
          )
          PARTITION BY DATE(lpep_pickup_datetime);

      # -----------------------------------------------------------------------
      # STEP 2 (Green): CREATE EXTERNAL TABLE
      # Defines the structure of the CSV file sitting in GCS.
      # -----------------------------------------------------------------------
      - id: bq_green_table_ext
        type: io.kestra.plugin.gcp.bigquery.Query
        sql: |
          CREATE OR REPLACE EXTERNAL TABLE `{{kv('GCP_PROJECT_ID')}}.{{render(vars.table)}}_ext`
          (
              VendorID STRING,
              lpep_pickup_datetime TIMESTAMP,
              lpep_dropoff_datetime TIMESTAMP,
              store_and_fwd_flag STRING,
              RatecodeID STRING,
              PULocationID STRING,
              DOLocationID STRING,
              passenger_count INT64,
              trip_distance NUMERIC,
              fare_amount NUMERIC,
              extra NUMERIC,
              mta_tax NUMERIC,
              tip_amount NUMERIC,
              tolls_amount NUMERIC,
              ehail_fee NUMERIC,
              improvement_surcharge NUMERIC,
              total_amount NUMERIC,
              payment_type INTEGER,
              trip_type STRING,
              congestion_surcharge NUMERIC
          )
          OPTIONS (
              format = 'CSV',
              uris = ['{{render(vars.gcs_file)}}'],
              skip_leading_rows = 1,
              ignore_unknown_values = TRUE
          );

      # -----------------------------------------------------------------------
      # STEP 3 (Green): CREATE TEMP TABLE WITH HASH
      # We create the MD5 fingerprint using Green Taxi columns (lpep...).
      # -----------------------------------------------------------------------
      - id: bq_green_table_tmp
        type: io.kestra.plugin.gcp.bigquery.Query
        sql: |
          CREATE OR REPLACE TABLE `{{kv('GCP_PROJECT_ID')}}.{{render(vars.table)}}`
          AS
          SELECT
            MD5(CONCAT(
              COALESCE(CAST(VendorID AS STRING), ""),
              COALESCE(CAST(lpep_pickup_datetime AS STRING), ""), -- Hashing using Green timestamp
              COALESCE(CAST(lpep_dropoff_datetime AS STRING), ""),
              COALESCE(CAST(PULocationID AS STRING), ""),
              COALESCE(CAST(DOLocationID AS STRING), "")
            )) AS unique_row_id,
            "{{render(vars.file)}}" AS filename,
            *
          FROM `{{kv('GCP_PROJECT_ID')}}.{{render(vars.table)}}_ext`;

      # -----------------------------------------------------------------------
      # STEP 4 (Green): MERGE
      # Merging data into the main Green table. Note that we include
      # columns like 'ehail_fee' and 'trip_type' in the INSERT statement.
      # -----------------------------------------------------------------------
      - id: bq_green_merge
        type: io.kestra.plugin.gcp.bigquery.Query
        sql: |
          MERGE INTO `{{kv('GCP_PROJECT_ID')}}.{{kv('GCP_DATASET')}}.green_tripdata` T
          USING `{{kv('GCP_PROJECT_ID')}}.{{render(vars.table)}}` S
          ON T.unique_row_id = S.unique_row_id
          WHEN NOT MATCHED THEN
            INSERT (unique_row_id, filename, VendorID, lpep_pickup_datetime, lpep_dropoff_datetime, store_and_fwd_flag, RatecodeID, PULocationID, DOLocationID, passenger_count, trip_distance, fare_amount, extra, mta_tax, tip_amount, tolls_amount, ehail_fee, improvement_surcharge, total_amount, payment_type, trip_type, congestion_surcharge)
            VALUES (S.unique_row_id, S.filename, S.VendorID, S.lpep_pickup_datetime, S.lpep_dropoff_datetime, S.store_and_fwd_flag, S.RatecodeID, S.PULocationID, S.DOLocationID, S.passenger_count, S.trip_distance, S.fare_amount, S.extra, S.mta_tax, S.tip_amount, S.tolls_amount, S.ehail_fee, S.improvement_surcharge, S.total_amount, S.payment_type, S.trip_type, S.congestion_surcharge);

  # -----------------------------------------------------------------------------
  # BLOCK 7: CLEANUP
  # We delete the local files from the worker's temporary storage to save disk space.
  # -----------------------------------------------------------------------------
  - id: purge_files
    type: io.kestra.plugin.core.storage.PurgeCurrentExecutionFiles
    description: If you'd like to explore Kestra outputs, disable it.
    disabled: false

# -----------------------------------------------------------------------------
# BLOCK 8: PLUGIN DEFAULTS
# This ensures every GCP task in this flow uses the correct project and location
# automatically, without us having to repeat it in every task.
# -----------------------------------------------------------------------------
pluginDefaults:
  - type: io.kestra.plugin.gcp
    values:
      projectId: "{{kv('GCP_PROJECT_ID')}}"
      location: "{{kv('GCP_LOCATION')}}"
      bucket: "{{kv('GCP_BUCKET_NAME')}}"